APP_PORT=8000

DB_HOST=
DB_PORT=5432
DB_USER=
DB_PASSWORD=
DB_NAME=

MINIO_ENDPOINT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET_NAME=

BACKEND_ENDPOINT=http://localhost:8000
DATABASE_ENDPOINT=
VITE_GOOGLE_CLIENT_ID=1047902542495-t84n969fb42j550svhptgkmchvl1u6r5.apps.googleusercontent.com
